<%-include('../header'); -%>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <% inventory.forEach(inv => { %>
                    <tr>
                        <td><a href="/admin/inventory/<%= inv.id %>"><%= inv.name %></a></td>
                        <td><%= inv.type %></td>
                        <td><%= inv.price %></td>
                        <td><%= inv.size %></td>
                        <td><%= inv.notes %></td>
                        <td>
                            <a href="/admin/inventory/update/<%= inv.id %>">Edit</a> |
                            <a href="/admin/inventory/delete/<%= inv.id %>">Delete</a>
                        </td>
                    </tr>
                <% }); %>
                <!-- <% inventory.forEach(inventory => { %>
                    <tr>
                       <td><a href="/inventory/<%= inventory.id %>"><%= inventory.name %></a></td>
                       <td><%= inventory.type %></td>
                       <td>$<%= inventory.price %></td>
                       <td><%= inventory.size %></td>
                       <td><%= inventory.notes %></td>
                     <td>
                            <a href="/inventory/update/<%= inventory.id %>">Edit</a> |
                            <a href="/inventory/delete/<%= inventory.id %>">Delete</a>
                        </td>
                    </tr>
                <% }); %> -->
            </tbody>
        </table>
        <a href="admin/inventory/create" class="btn btn-primary">Add inventory Item</a>
    </div>
</div>
<%- include('../footer'); -%>