<%- include('../header'); -%>
<div class="row justify-content-center">
  <div class="col-12 col-md-7">
    <h2>Create a New Order</h2>
    <form action="/order/create" method="POST">
      <label>Name: <input type="text" name="customer_name" required  class="form-control" /></label><br />
      <label>Address: <input type="text" name="customer_address" required  class="form-control" /></label><br />

      <label>Pizza Type:
        <select name="pizza" class="form-control" required>
          <option value="">-- Select Pizza --</option>
          <% pizzas.forEach(pizza => { %>
            <option value="<%= pizza._id %>">
              <%= pizza.name %> - <%= pizza.size %> ($<%= pizza.price.toFixed(2) %>)
            </option>
          <% }) %>
        </select>
      </label><br />

      <label>Drink:
        <select name="drink" class="form-control">
          <option value="">-- Select Drink --</option>
          <% drinks.forEach(drink => { %>
            <option value="<%= drink._id %>">
              <%= drink.name %> - <%= drink.size %> ($<%= drink.price.toFixed(2) %>)
            </option>
          <% }) %>
        </select>
      </label><br />

      <button type="submit" class="btn btn btn-success mt-2">Submit</button>
      <a href="/admin/order" class="btn btn btn-danger mt-2">Cancel</a>
    </form>
  </div>
</div>
<%- include('../footer'); -%>
