<%- include('../header'); -%>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Customer Address</th>
                    <th>Pizza</th>
                    <th>Drink</th>
                    <th>Total</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <% orders.forEach(order => { %>
                    <tr>
                        <td><%= order.customer_name %></td>
                        <td><%= order.customer_address %></td>
                        <td><%= order.pizzaName %></td>
                        <td><%= order.drinkName %></td>
                        <td><%= (order.total !== undefined && order.total !== null) ? order.total.toFixed(2) : '0.00' %></td>
                        <td>
                            <a href="/order/update/<%= order._id %>">Edit</a> |
                            <a href="/order/delete/<%= order._id %>">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/order/create" class="btn btn-primary">Add Order</a>
    </div>
</div>
<%- include('../footer'); -%>