<%- include('../header'); -%>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Customer Address</th>
                    <th>Pizza</th>
                    <th>Pizza Size</th>
                    <th>Drink</th>
                    <th>Drink Size</th>
                    <th>Total</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <% orders.forEach(order => { %>
                    <tr>
                        <td><%= order.customer_name %></td>
                        <td><%= order.customer_address %></td>
                        <td><%= order.pizza %></td>
                        <td><div style="width: 70px; margin: 5 auto; text-align: center;"><%= order.pizza_size %></div></td>
                        <td><%= order.drink %></td>
                        <td><div style="width: 70px; margin: 5 auto; text-align: center;"><%= order.drink_size %></td>
                        <td><%= order.total %></td>
                        <td>
                            <a href="/order/update/<%= order.id %>">Edit</a> |
                            <a href="/order/delete/<%= order.id %>">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/order/create" class="btn btn-primary">Add Order</a>
    </div>
</div>
<%- include('../footer'); -%>