<%- include('../header'); -%>
<div class="row">
  <div class="col-md-12">
    <h1>Order Details</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= order.customer_name %></h5>
        <p class="card-text"><%= order.customer_address %></p>
        <p class="card-text"><%= order.pizzaName %></p>
        <p class="card-text"><%= order.drinkName %></p>
        <p class="card-text"><%= order.total %></p>
      </div>
      <a href="/">Order Again</a>
    </div>
  </div>
</div>

<%- include('../footer'); -%>