<%- include('../header'); -%>
<div class="row">
  <div class="col-md-12">
    <h1>Edit Your Order</h1>
    <form action="/order/update/<%= order._id %>" method="POST">
        <input type="hidden" name="id" value="<%= order.id %>" />
      <label>Name: 
        <input 
          type="text" 
          name="customer_name" 
          required  
          class="form-control" 
          value="<%= order.customer_name %>" 
        />
      </label><br />

      <label>Address: 
        <input type="text" 
          name="customer_address" 
          required  
          class="form-control" 
          value="<%= order.customer_address %>" 
        />
      </label><br />

      <label>Pizza Type:
        <select name="pizza" class="form-control" required>
          <option value="">-- Select Pizza --</option>
          <% pizzas.forEach(pizza => { %>
            <option
              value="<%= pizza._id %>"
              <%= pizza._id.toString() === order.pizza.toString() ? 'selected' : '' %>
            >
              <%= pizza.size %> <%= pizza.name %>
            </option>
          <% }) %>
        </select>
      </label><br />

      <label>Drink:
        <select name="drink" class="form-control">
          <option value="">-- Select Drink --</option>
          <% drinks.forEach(drink => { %>
            <option
              value="<%= drink._id %>"
              <%= drink._id.toString() === order.drink.toString() ? 'selected' : '' %>
            >
              <%= drink.name %>
            </option>
          <% }) %>
        </select>
      </label><br />

      <button type="submit" class="btn btn btn-success mt-2">Submit</button>
      <a href="/order" class="btn btn btn-danger mt-2">Cancel</a>
    </form>
  </div>
</div>
<%- include('../footer'); -%>
